.xpContent {
	display: flex;
	color: #943232;
	font-family: "Poiret One", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.unitXpContent {
	padding-top: 0em;
	display: inline-block;
}

.xpContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.gridCard {
	display: flex;
	flex-direction: row;
	margin: 30;
}

.xpContainer ul li {
	justify-content: space-between;
	list-style: none;
}

.xpBox button {
	position: static;
}

.box {
	width: 50px;
}

.showBox {
	justify-content: space-between;
}

hr {
	width: 60%;
	display: flex;
	margin: auto;
}

ul li button {
	position: absolute;
	margin: 1em;
	background-color: rgb(61, 60, 60);
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border-style: none;
	color: white;
}

.XpCard {
	-webkit-perspective: 150rem;
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	height: 52rem;
}

.XpCard:hover {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.XpCardSide {
	height: 52rem;
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 3px;
	overflow: hidden;
	-webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.u-center-text {
	text-align: center !important;
}

.u-margin-bottom-small {
	margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
	margin-bottom: 4rem !important;
}

.u-margin-top-big {
	margin-top: 5rem !important;
	margin-bottom: 2.5rem !important;
}

.heading-primary {
	color: #fff;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	margin-bottom: 6rem;
}

.heading-primary--main {
	display: block;
	font-size: 6rem;
	font-weight: 400;
	letter-spacing: 3.5rem;
	-webkit-animation-name: moveInLeft;
	animation-name: moveInLeft;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	/*
		  animation-delay: 3s;
		  animation-iteration-count: 3;
		  */
}

.heading-primary--sub {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 1.75rem;
	-webkit-animation: moveInRight 1s ease-out;
	animation: moveInRight 1s ease-out;
}

.heading-secondary {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	color: transparent;
	letter-spacing: 0.2rem;
	line-height: 1;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	color: rgb(219, 218, 218);
}

.btn,
.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4rem;
	display: inline-block;
	border-radius: 0.5rem;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	position: relative;
	font-size: 1.6rem;
	border: none;
	cursor: pointer;
}

.btn:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
	-webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
	-webkit-transform: scaleX(1.4) scaleY(1.6);
	transform: scaleX(1.4) scaleY(1.6);
}

.btn:active,
.btn:focus {
	outline: none;
	-webkit-transform: translateY(-1px);
	transform: translateY(-1px);
	-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
	background-color: #fff;
	color: #777;
}

.btn--white::after {
	background-color: #fff;
}

.btn--green {
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#fc466b),
		to(#3f5efb)
	);
	background: linear-gradient(to right, #fc466b, #3f5efb);
	color: #fff;
}

.btn--green::after {
	background-color: #55c57a;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

.section-plans {
	background-color: #000;
	padding: 4rem 0 4rem 0;
}

.card {
	-webkit-perspective: 150rem;
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	height: 52rem;
	border: none !important;
	font-family: "Montserrat";
}

.card__side {
	height: 52rem;
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 3px;
	overflow: hidden;
	-webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
	background-color: #fff;
}

.card__side--front-1 {
	background: linear-gradient(
		336deg,
		rgba(1, 197, 245, 1) 0%,
		rgba(37, 106, 186, 1) 13%,
		rgba(95, 158, 160, 1) 56%,
		rgba(36, 108, 187, 1) 100%
	);
	box-shadow: 0 3px 5px 2px rgba(76, 102, 99, 0.3);
}

.card__side--back {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card__side--back-1 {
	background: linear-gradient(
		336deg,
		rgba(1, 197, 245, 1) 0%,
		rgba(37, 106, 186, 1) 13%,
		rgba(95, 158, 160, 1) 56%,
		rgba(36, 108, 187, 1) 100%
	);
	box-shadow: 0 3px 5px 2px rgba(76, 102, 99, 0.3);
}

.card:hover .card__side--front-1 {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.card:hover .card__side--back {
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
}

.card__title {
	height: 20rem;
	padding: 4rem 2rem 2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.card__title--1 .fas {
	font-size: 5rem;
}

.card__heading {
	font-size: 2rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	width: 75%;
}

.card__heading-span {
	padding: 1rem 1.5rem;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.card__details {
	padding: 0 2rem 2rem;
	color: floralwhite;
}

.card__details ul {
	list-style: none;
	width: 80%;
	margin: 0 auto;
}

.card__details ul li {
	text-align: center;
	font-size: 1.5rem;
	padding: 1rem;
}

.card__details ul li:not(:last-child) {
	border-bottom: 1px solid #eee;
}

.card__cta {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 90%;
	text-align: center;
}

.card__price-box {
	text-align: center;
	color: #fff;
	margin-bottom: 8rem;
}

.card__price-only {
	margin-top: 5px;
	font-family: "Poiret One";
	font-size: 20px;
	color: #d4cece;
	text-transform: uppercase;
}

.card__price-value {
	font-family: "Montserrat";
	font-size: 15px;
	color: whitesmoke;
}

.row {
	margin: 0 auto;
}

.row:not(:last-child) {
	margin-bottom: 5rem;
	margin-top: 5rem;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.row .col-1-of-3 {
	width: 30rem;
	z-index: 1;
}
