.xpContent{
    display: flex;
    align-items: flex-end;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.unitXpContent{
    padding: 1em;
    display: inline-block;
    align-content: center;
    
}
.xpContainer{
    height: auto;
    align-items: flex-end;
}
.xpContainer ul li {
    justify-content: space-between;
    list-style: none;
}

.xpBox {
    display: flex;
    justify-content: space-between;
}

.xpBox button {
    position: static;
}

.box {
    width: 50em
}

.showBox {
    justify-content: space-between;
}

hr {
    width: 60%;
    display: flex;
    justify-content: center;
    
}

ul li button {
    position: absolute;
    margin: 1em;
    background-color: rgb(61, 60, 60);
    width: 65px; 
    height: 65px;
    border-radius: 50%;
    border-style: none;
    color: white;
}

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #aac5fc;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 1vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  
  .bottomPage {
    color: black;
    font-size: 5px;
    display: flex;
    flex-direction: column;
  }

  body {
    margin: 0;
    font-family: "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family:  "Courier New", monospace;
  }
  

  .headerStyle {
    position: sticky;
    top: 0;
    background-color: #4c6663;
    opacity: 95%;
    height: 106px;
  }
  
  p {
    
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 5px;
  }
  
  .buttonHeader {
    border: 0px;
    display: "flex";
    justify-content: space-between;
  }
  