/* Position and sizing of burger button */
.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 36px;
	top: 36px;
}


/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: #ff5757;
	
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
	background: #ff5018;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
	position: fixed;
	height: 100%;
}

/* General sidebar styles */
.bm-menu {
	background: #373a47;
	padding: 30px 39px 0;
	font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	color: #b8b7ad;
	padding: 0.8em;
}

/* Individual item */
.bm-item {
	display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}

.bar {
	color: #747474;
}

li {
	margin: 1rem;
}

.menu-item {
	color: antiquewhite;
	margin: 25px;
	font-size: 1em;
}

.menu-item:hover {
	color: darkgray;
	text-decoration: none;
	background-color: transparent;
	-webkit-transform: scale(1.6);
}

* {
	outline: 0;
}
li :hover,
a:focus,
a:hover {
	list-style: none;
}

a:hover {
	color: #747474;
	text-decoration: none;
}

Link:hover {
	text-decoration: none;
}
