.buttoncontact {
	color: whitesmoke;
	border-radius: 30px;
	height: 37px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border: 1px solid white;
	padding: 10px;
	margin-top: 50px;
	outline: 0;
}

.buttoncontact:hover {
	transition: all 0.5 ease;
	text-decoration: none;
	background-color: black;
	opacity: 0.6;
	border: none;
	color: lightblue;
}

.bigger {
	margin-bottom: 15px;
}

.bigger h1 {
	margin-top: 25px;
	color: whitesmoke;
}

.bigger h2 {
	margin-top: 10px;
	color: whitesmoke;
}

.bigger h5 {
	width: 300px;
	color: floralwhite;
	margin-bottom: 25px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

.h1proj {
	background-color: #fff;
	overflow: hidden;
	display: inline-block;
	padding: 10px;
	font-weight: bold;
	font-family: arial;
	color: transparent;
	font-size: 50px;
	margin-top: 50px;
	transform: rotate(-1deg);
}

h1 span {
	background: url("../../img/code.jpg") -20px -20px repeat;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	display: block;
}

.projectLink {
	transition: all 0.5s ease;
	color: white;
}

.projectLink:hover {
	transform: rotate(-12deg);
	color: #ff5757;
	text-decoration: none;
}
.Card {
	display: flex;
	align-self: center;
	flex-direction: column;
	width: 40%;
	color: floralwhite;
}

.Card p {
	color: grey;
	text-align: center;
	font-size: 12px;
}

.about-me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-top: 35px;
}

.assets {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.assets h2 {
	margin-bottom: 20px;
	margin-top: 20px;
}

.project-section {
	width: 100%;
	height: 400px;
	margin-top: 30px;
	border-top: 1px solid #ff5757;
	border-bottom: 1px solid #ff5757;
	background-image: url("../../img/code.jpg");
	background-size: cover;
}

.progressBar {
	width: 300px;
	margin: auto;
	margin-top: 10px;
	font-weight: bold;
	font-size: 2em;
}

.primarycover {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background: linear-gradient(
		336deg,
		rgba(1, 197, 245, 1) 0%,
		rgba(37, 106, 186, 1) 13%,
		rgba(95, 158, 160, 1) 56%,
		rgba(36, 108, 187, 1) 100%
	);
	height: 250px;
}

.primarycover h1 {
	transition: all 0.5 ease;
	align-self: center;
	color: whitesmoke;
}

.buttoncenter {
	background: none;
	border: 2px solid;
	font: inherit;
	line-height: 1;
	margin: 0.5em;
	padding: 1em 2em;
}

.slide:hover,
.slide:focus {
	box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.technoUsed {
	display: flex;
	justify-content: space-around;
	width: 200px;
	height: 200px;
}
