.headerButton:hover {
	text-decoration: none;
	color: #cfcfcc;
}

body {
	overflow-x: hidden;
}

.headerButton {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	border-radius: 1px;
	font-size: 11px;
	background-color: white;
	color: #ff5757;
}

#js-header {
	transition: all 0.5s ease;
	position: sticky;
	top: 0;
	background-color: white;
	opacity: 0.95;
	box-shadow: 0 3px 5px 2px rgba(76, 102, 99, 0.3);
	z-index: 10;
	width: 100%;
}

#js-header.smaller {
	transition: all 0.5s ease;
	transform: translateY(-80px);
}

@keyframes smoothScroll {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-100px);
	}
}

img {
	transition: all 0.5s ease;
	transform: translateY(0px);
}

.smaller img {
	transition: all 0.5s ease;
	transform: translateY(-70px);
}

.smaller span {
	margin-top: -15px;
}

.div-menu {
	display: flex;
	justify-content: space-around;
	width: 600px;
	align-items: center;
	margin: 8px;
}

.smaller {
	transition: all 0.5s ease;
}
