.formationItem h1 {
	padding: 1em;
	color: #80cfa9;
}

h2 {
	color: #4c6663;
}

.formationContainer {
	color: black;
}

p {
	color: black;
}

button {
	border-radius: 90%;
}

.paperContainer {
	display: flex;
	justify-content: space-between;
}

.formationItem {
	display: flex;
	flex-direction: column;
	margin: 80px;
	border-radius: 10px;
	background-color: #4c6663;
	box-shadow: 2px 2px 4px 0px;
}
