.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #aac5fc;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(5px + 1vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.bottomPage {
	color: black;
	font-size: 2px;
	display: flex;
	flex-direction: column;
}

a {
	color: inherit;
}

.stripe {
	width: 200px;
	height: 10px;
	background: blue;
	position: absolute;
	bottom: 0;
	transition: left 0.3s;
}

.footer {
	background-color: white;
	margin: 10px;
}

.copyrights {
	padding: -10;
	text-decoration: "none";
	color: "black";
}
